.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 4000px;
  }

  .platform{
    margin: 0px 0px 10px 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #47082f;
    color: #eaeaea;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    max-width: 1330px;
  }

  

  

  .platform2{
    margin: 0px 0px 50px 10px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #eaeaea;
    color: #47082f;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    align-content: space-around;
    max-width: 1200px,
  }
  .map{
    margin-left:  800px;
    
    
  }

  .platform2 p{
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    color: black;
  }
  .vl{
    border-right: 2px solid black;
    height: 150px;
    margin-left: 25px;
  }

  .platform3{
    margin: 0px 0px 10px 0px;
    padding: 0.5rem;
    width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: url(/food2.jpeg) no-repeat center center/cover;
    color: #eaeaea;
    justify-content: flex-start;
    /* align-items: center; */
    text-align: center;
    /* align-content: center; */
    max-width: 1000px;
  }

  .inset{
    margin: 0px 0px 10px 550px;
    padding: 3rem;
    width: 300px;
    font-weight: 200;
    transform: rotate(350deg);
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    border-radius: 100%;
    background-color: #47082f;
    color: beige;
  }

  
  
  
  .card {
    transition: color 0.25s ease, border-color 0.25s ease;
    max-width: 300px;
    
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    box-shadow: 5px 18px 36px #47082f, 5px 14px 11px #47082f;
  }

  
  #price{
    margin: -20px;
    padding: 1rem;
    width: 100px;
    height: 100px;
    font-size: 30px;
    transform: rotate(340deg);
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
    border-style: dashed;
    border-color: aquamarine;
    background-color: #47082f;
    color: beige;
  }
  #price h3{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #price p{
    font-size: 14px;
    color: bisque;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    color: #47082f;
  }

  .card image{
    border: 1px solid #47082f ;
    border-radius: 100%;
    padding: 2px;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
