.footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(48, 5, 77);
    height: 15rem;
    flex: 1;
    padding: 0.2rem ;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    display: flex;
    padding:0rem;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  