.nav {
    height: 100px;
    padding: 10px;
    background: rgb(35, 5, 59);
    color: aliceblue;
    display: flex;
     align-items:center ;
     justify-content: flex-start;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}